
@font-face {font-family: "iconfont";
  src: url('../font-2/iconfont.eot?t=1490413017787'); /* IE9*/
  src: url('../font-2/iconfont.eot?t=1490413017787#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font-2/iconfont.woff?t=1490413017787') format('woff'), /* chrome, firefox */
  url('../font-2/iconfont.ttf?t=1490413017787') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font-2/iconfont.svg?t=1490413017787#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-2 {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before { content: "\e7cb"; margin-right: 10px;}

